header {
  width: 100%;
  background-color: black;
  color: white;
  nav {
    ul {
      li {
        list-style-type: none;
        margin: 10px;
        float: left;
        position: relative;
        a {
          margin: 10px 30px 0 0;
          text-transform: uppercase;
          color: white;
          text-decoration: none;
          font-weight: bold;
        }
      }
    }
  }
}
.chair {
  text-transform: uppercase;
  float: left;
  margin: 10px;
}
nav {
  float: right;
  position: relative;
}
.one {
  color: white;
  float: left;
  margin-right: 10px;
}
.two {
  color: rgb(40,197,178);
  float: left;
  margin-right: 10px;
  font-weight: bold;
}
.x {
  position: relative;
  &:hover {
    .triangle {
      display: block;
    }
  }
}
.triangle {
  width: 0;
  height: 0;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  border-bottom: 20px solid black;
  position: absolute;
  top: 30px;
  left: 15px;
  display: none;
}
.y {
  position: absolute;
  top: 37px;
  left: -25px;
  height: 120px;
  width: 120px;
  background-color: black;
  color: white;
  display: none;
}